useDynLib(gelClust)
importFrom(Rcpp, evalCpp)
importFrom("stats", "cor", "pgamma", "prcomp", "pt", "sd",
                "weighted.mean")
export(gelMatrix)
export(gammaCluster)
export(gammaPlot)
export(gammaTest)
export(gelSVD)
export(expMST)
export(minPath)
export(eigenGenes)
export(gelDiff)
export(distBoot)
export(pBoot)
export(subClusters)


